
body{
    background-color: rgba(106, 127, 219, 0.5);
    color:#E93241;
    color:rgba(226, 112, 121, 0.505);
    color:rgba(222, 52, 66, 0.06);
    color: rgb(42, 45, 54);
    color: rgba(57, 62, 74, 0.724);
    color: rgba(255, 39, 57, 0.2);
    color: rgba(182, 182, 182, 0.100);
    color: rgb(122, 122, 122);
}